<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kDefaultAccountList</key>
	<array/>
	<key>kDefaultCloudAccountValues</key>
	<dict>
		<key>Description</key>
		<string>Alfresco Cloud</string>
		<key>Hostname</key>
		<string>a.alfresco.me</string>
		<key>Port</key>
		<string>443</string>
		<key>Protocol</key>
		<string>HTTPS</string>
		<key>Vendor</key>
		<string>Alfresco</string>
		<key>ServiceDocumentRequestPath</key>
		<string>/alfresco</string>
		<key>Multitenant</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
