<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>toolbarColor</key>
	<array>
		<real>0</real>
		<real>0</real>
		<real>0</real>
		<real>1</real>
	</array>
	<key>skipBackgroundView</key>
	<false/>
	<key>backgroundLogo</key>
	<dict>
		<key>backgroundColor</key>
		<string>whiteColor</string>
		<key>logoImage</key>
		<string></string>
	</dict>
	<key>ipadBackgroundLogo</key>
	<dict>
		<key>backgroundImage</key>
		<string>background-iPad.png</string>
		<key>logoImage</key>
		<string>watermark-iPad.png</string>
	</dict>
	<key>browse.sectionHeaderTextColor</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>browse.headerColor</key>
	<array>
		<integer>127</integer>
		<integer>127</integer>
		<integer>130</integer>
		<integer>1</integer>
	</array>
	<key>browse.sectionFooterTextColor</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>browse.footerColor</key>
	<array>
		<integer>127</integer>
		<integer>127</integer>
		<integer>130</integer>
		<integer>1</integer>
	</array>
	<key>ipad.detailGradient.startColor</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>ipad.detailGradient.endColor</key>
	<array>
		<integer>229</integer>
		<integer>229</integer>
		<integer>229</integer>
		<integer>1</integer>
	</array>
	<key>root.segmentedControlColor</key>
	<array>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>1</integer>
	</array>
	<key>root.segmentedControlBkgColor</key>
	<array>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>1</integer>
	</array>
	<key>root.selectedSegmentColor</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
</dict>
</plist>
