<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about.clientUrl</key>
	<string>http://www.ziaconsulting.com</string>
	<key>about.background.useGradient</key>
	<true/>
	<key>showSettings</key>
	<false/>
	<key>preview.showCommentButton</key>
	<true/>
	<key>preview.showLikeButton</key>
	<false/>
	<key>browse.showAddButton</key>
	<true/>
	<key>browse.showMetadataDisclosure</key>
	<true/>
	<key>browse.useRelativeDate</key>
	<true/>
	<key>browse.downloadFolderTree</key>
	<true/>
	<key>more.showSimpleSettings</key>
	<true/>
	<key>downloads.showMetadata</key>
	<false/>
	<key>browse.showDownloadButton</key>
	<false/>
	<key>settings.allowHideActivities</key>
	<false/>
	<key>upload.useJPEG</key>
	<true/>
	<key>alfrescome.signupLink</key>
	<string>http://cloud.alfresco.com/?utm_source=mobile&amp;utm_medium=ios_%@&amp;utm_campaign=FreshDocs-%@</string>
	<key>alfrescocloud.termOfServices.url</key>
	<string>http://www.alfresco.com/legal/agreements/cloud/</string>
	<key>alfrescocloud.privacyPolicy.url</key>
	<string>http://www.alfresco.com/privacy/</string>
	<key>alfrescocloud.customerCare.url</key>
	<string>http://www.alfresco.com/products/cloud/</string>
</dict>
</plist>
