<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>toolbarColor</key>
	<array>
		<integer>180</integer>
		<integer>187</integer>
		<integer>195</integer>
		<integer>1</integer>
	</array>
	<key>browse.headerColor</key>
	<array>
		<integer>33</integer>
		<integer>100</integer>
		<integer>174</integer>
		<integer>1</integer>
	</array>
	<key>browse.sectionHeaderTextColor</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>browse.footerColor</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>browse.sectionFooterTextColor</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>1</integer>
	</array>
	<key>ipad.detailGradient.startColor</key>
	<array>
		<integer>200</integer>
		<integer>208</integer>
		<integer>217</integer>
		<integer>1</integer>
	</array>
	<key>ipad.detailGradient.endColor</key>
	<array>
		<integer>250</integer>
		<integer>250</integer>
		<integer>250</integer>
		<integer>1</integer>
	</array>
	<key>root.segmentedControlColor</key>
	<array>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>1</integer>
	</array>
	<key>root.segmentedControlBkgColor</key>
	<array>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>1</integer>
	</array>
	<key>root.selectedSegmentColor</key>
	<array>
		<integer>119</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>1</integer>
	</array>
	<key>pullToRefreshTextColor</key>
	<array>
		<integer>87</integer>
		<integer>108</integer>
		<integer>137</integer>
		<integer>1</integer>
	</array>
</dict>
</plist>
