<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objectId</key>
	<string>objectId1</string>
	<key>filename</key>
	<string>TestImage.png</string>
	<key>versionSeriesId</key>
	<string>1234</string>
	<key>contentStreamMimeType</key>
	<string>image/png</string>
	<key>repositoryId</key>
	<string>12345</string>
</dict>
</plist>
