<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreateLinkFields</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>create-link.fields.email</string>
			<key>Placeholder</key>
			<string>create-link.placeholder.required</string>
			<key>Key</key>
			<string>email</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>ReturnKeyType</key>
			<string>Done</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>create-link.fields.subject</string>
			<key>Placeholder</key>
			<string>create-link.placeholder.required</string>
			<key>Key</key>
			<string>subject</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>ReturnKeyType</key>
			<string>Done</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSDatePickerSpecifier</string>
			<key>Title</key>
			<string>create-link.fields.expirationdate</string>
			<key>Placeholder</key>
			<string>create-link.placeholder.required</string>
			<key>Key</key>
			<string>expirationdate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>create-link.fields.password</string>
			<key>Placeholder</key>
			<string>create-link.placeholder.optional</string>
			<key>Key</key>
			<string>password</string>
			<key>IsSecure</key>
			<true/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>ReturnKeyType</key>
			<string>Done</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextViewSpecifier</string>
			<key>Title</key>
			<string>create-link.fields.message</string>
			<key>Placeholder</key>
			<string>create-link.placeholder.optional</string>
			<key>Key</key>
			<string>message</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>ReturnKeyType</key>
			<string>Default</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Localizable</string>
</dict>
</plist>
